# Session 2

## Tasks

### Task1

In [ ]:
# Remove leading and trailing whitespaces
text = " Hello, World! "
text.strip()

'Hello, World!'

In [ ]:
#Replace python with coding
text = "I love Python"
text.replace("Python", "coding")

'I love coding'

In [ ]:
#Lower, Upper
text = "Hello, World!"
print(text.lower())
print(text.upper())

hello, world!
HELLO, WORLD!

In [ ]:
#Count a
text = "banana"
text.count("a")

3

In [ ]:
print(text[::0])

ValueError: slice step cannot be zero

In [ ]:
help("str")

In [ ]:
name = 'Mohamed'
age = 22
print(f"My name is {name}, and my age is {age} years old")
print("My name is {}, and my age is {} years old".format(name, age))

My name is Mohamed, and my age is 22 years old
My name is Mohamed, and my age is 22 years old

In [ ]:
print(name[-1:-3:-1])

de

### Task2

In [ ]:
my_list = ['apple', 42, True]
# add 'banana'
# output : ['apple', 42, True, 'banana']
my_list.append('banana')
my_list

['apple', 42, True, 'banana']

In [ ]:
my_list = ['apple', 42, True]
my_list.insert(3,'banana')
my_list

['apple', 42, True, 'banana']

In [ ]:
# remove 42
# output : ['apple', True, 'banana']
my_list.remove(42)
my_list

['apple', True, 'banana']

In [ ]:
lst = [5,2,9,1,7]
lst.sort()
lst

[1, 2, 5, 7, 9]

In [ ]:
lst.sort(reverse=True)
lst

[9, 7, 5, 2, 1]

In [ ]:
my_list = ['apple', 42, True, 'apple', 42,'apple','apple'] # count 'apple'
my_list.count("apple")

4

### Task 3

In [ ]:
#Properties of a set

  #syn: s = {1, 2, 3} or s = set([1, 2, 3])
  #ordered: Yes
  #unique: Yes
  #immutable: Yes

s = {1, 2, 3, 3 , 3} # Works fine
s = set([1, 2, 3, 3, 3])
s

{1, 2, 3}

In [ ]:
s[0] #Not ordered

TypeError: 'set' object is not subscriptable

In [ ]:
s = set([1, 2, 3, 3, 3]) # Works fine

In [ ]:
s = {1, 2, [1, 2]} # Error

TypeError: unhashable type: 'list'

In [ ]:
s = {1, 2, (1, 2)} # Works fine
s

{(1, 2), 1, 2}

In [ ]:
s[2] = 3 # Elements inside the set must be of an immutable type
s

TypeError: 'set' object does not support item assignment

In [ ]:
s.pop() #The set itself is mutable
s

{2, 3}

## Expirements

In [ ]:
my_list = ['apple', 42, True, 'apple', 42]
print(my_list[1:3])
print(my_list[1:4])
print(my_list[::2])

[42, True]
[42, True, 'apple']
['apple', True, 42]

In [ ]:
my_tuple=tuple(my_list)
my_tuple

('apple', 42, True, 'apple', 42)

In [ ]:
my_tuple

('apple', 42, True, 'apple', 42)

In [ ]:
my_tuple = True

In [ ]:
my_tuple[2] = False

TypeError: 'tuple' object does not support item assignment

In [ ]:
my_dict = {'name' : 'omar', 'age' : 30, 'city' : 'cairo'}
my_dict

{'name': 'omar', 'age': 30, 'city': 'cairo'}

In [ ]:
my_dict['height' : 120]
my_dict

TypeError: unhashable type: 'slice'

In [ ]:
my_dict

{'name': 'omar', 'age': 30, 'city': 'cairo'}