# **String Slicing and Formatting**

## Task 1

Basic string slicing to extract characters
 * Given a string `s = "PythonProgramming"`, print the first 6 characters.

In [ ]:
# TODO: Write your code here

s = "PythonProgramming"
# Your code

## Task 2

Formatting strings with variables
 * Given `name = "Alice"` and `age = 30`, print: My name is Alice and I am 30 years old. using f-strings.

In [ ]:
# TODO: Write your code here

name = "Alice"
age = 30
# Your code

## Task 3

Advanced slicing using steps
 * Given a string `s = "abcdefghijklmn"`, print every second character.

In [ ]:
# TODO: Write your code here

s = "abcdefghijklmn"
# Your code

## Task 4

Reverse string using slicing
 * Given `text = "Python"`, reverse it and print it.

In [ ]:
# TODO: Write your code here

text = "Python"
# Your code

# **Data Structures in Python**

## Task 1

Accessing list elements
 * Given `numbers = [10, 20, 30, 40, 50]`, print the third element.

In [ ]:
# TODO: Write your code here

numbers = [10, 20, 30, 40, 50]
# Your code

## Task 2

Create and access dictionary elements
 * Create a dictionary for a student with keys `"name"`, `"age"`, and `"grade"`. Print the student's name.

In [ ]:
# TODO: Write your code here

# Your code

## Task 3

Working with sets
 * Create a set with the numbers `{1, 2, 3, 4, 5}`, then add number 6 to the set.

In [ ]:
# TODO: Write your code here

# Your code

## Task 4

Nested dictionaries
 * Given:

 ```
  school = {
   "class1": {"name": "Ali", "age": 15},
   "class2": {"name": "Sara", "age": 16}
 }
 ```

Print the age of the student in class2.

In [ ]:
# TODO: Write your code here

school = {
  "class1": {"name": "Ali", "age": 15},
  "class2": {"name": "Sara", "age": 16}
}
# Your code

# **Conditional Statements**

## Task 1

Simple if-statement check
 * Check if a number is greater than 10.

In [ ]:
# TODO: Write your code here

num = 12
# Your code

## Task 2

Multiple conditions
 * Check if a number is positive, negative, or zero.

In [ ]:
# TODO: Write your code here

num = -5
# Your code

## Task 3

Using logical operators
 * Check if a number is between 10 and 20 (inclusive).

In [ ]:
# TODO: Write your code here

num = 15
# Your code

## Task 4

Complex nested conditions
 * Grade a student based on score:
  * 90+: A
  * 80-89: B
  * 70-79: C
  * below 70: F

In [ ]:
# TODO: Write your code here

score = 85
# Your code

# **Loops**

## Task 1

Basic for loop
 * Print numbers from 1 to 5.

In [ ]:
# TODO: Write your code here

# Your code

## Task 2

Loop through list
 * Print each character in the word "Python".

In [ ]:
# TODO: Write your code here

word = "Python"
# Your code

## Task 3

Using `while` loop
 * Print numbers from 5 down to 1 using while loop.

In [ ]:
# TODO: Write your code here

# Your code

## Task 4

Nested loops
 * Print a 3x3 grid of `*` using nested loops.

![image.png]()

In [ ]:
# TODO: Write your code here

# Your code

# **Functions**

## Task 1

Create a simple function
 * Define a function that prints "Hello!".

In [ ]:
# TODO: Write your code here

# Your code

## Task 2

Function with parameters
 * Write a function that takes a number and returns its square.

In [ ]:
# TODO: Write your code here

# Your code

## Task 3

Function with multiple parameters
 * Write a function that takes two numbers and returns their sum.

In [ ]:
# TODO: Write your code here

# Your code

## Task 4

 Function with default argument
  * Define a function that greets a user. Default name should be "Guest".

In [ ]:
# TODO: Write your code here

# Your code

# **Lambda Functions**

## Task 1

Simple lambda function
 * Create a lambda function that multiplies a number by 3.

In [ ]:
# TODO: Write your code here

# Your code

## Task 2

Using lambda inside `map`
* Use map to add 5 to each number in `[1,2,3,4]`.

In [ ]:
# TODO: Write your code here

# Your code

## Task 3

Lambda inside **filter**
 * Use filter to get odd numbers from `[1,2,3,4,5]`.

In [ ]:
# TODO: Write your code here

# Your code

## Task 4

Lambda with `sorted`
 * Sort a list of tuples by the second value using lambda.

In [ ]:
# TODO: Write your code here

data = [(1, 3), (2, 1), (4, 2)]
# Your code

# **Bonus** üéÅ

### üéØ Bonus Task: Password Strength Checker
**Description:**  
Build a simple password checker.

**Requirement:**  
Write a function that checks if a password meets the following rules:
- At least 8 characters  
- Contains both uppercase and lowercase letters  
- Contains at least one digit

In [ ]:
# TODO: Write your code here

def check_password(password):
    # Your code here
    pass

# Example
print(check_password("P@ssword1"))  # Expected: True

None

### üéØ Bonus Task : Palindrome Detector
**Description:**  
A palindrome is a word that reads the same backward.

**Requirement:**  
Write a function that checks if a word is a palindrome.

In [ ]:
# TODO: Write your code here

def is_palindrome(word):
    # Your code
    pass

print(is_palindrome("madam"))  # Expected: True

None

### üéØ Bonus Task : Word Frequency Counter
**Description:**  
Count how many times each word appears in a string.

**Requirement:**  
Return a dictionary with each word and its count.

In [ ]:
# TODO: Write your code here

text = "this is a test this is only a test"
# Your code here

### üéØ Bonus Task : FizzBuzz
**Description:**  
Classic logic challenge.

**Requirement:**  
Print numbers from 1 to 50. But:
- For multiples of 3, print "Fizz"
- For multiples of 5, print "Buzz"
- For multiples of both 3 and 5, print "FizzBuzz"

In [ ]:
# TODO: Write your code here

# Your code here

### üéØ Bonus Task : Emoji Translator
**Description:**  
Replace specific words with emojis.

**Requirement:**  
Replace the word "happy" with üòä and "sad" with üò¢.

In [ ]:
# TODO: Write your code here

text = "I am happy today but yesterday I was sad"
# Your code

### üéØ Bonus Task : Find Missing Number
**Description:**  
You have a list from 1 to 10 but one number is missing.

**Requirement:**  
Find the missing number in the list `[1,2,3,4,6,7,8,9,10]`.

In [ ]:
# TODO: Write your code here

nums = [1,2,3,4,6,7,8,9,10]
# Your code

### üéØ Bonus Task : Longest Word Finder
**Description:**  
Find the longest word in a sentence.

**Requirement:**  
Write a function that returns the longest word from the sentence `"Python makes coding enjoyable and efficient"`.

In [ ]:
# TODO: Write your code here

sentence = "Python makes coding enjoyable and efficient"
# Your code